*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  color: #ffffff;
  background-color: #171717;
}

header,
footer {
  width: inherit;
  max-width: inherit;
}

body,
main,
section,
article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* it is temporarily dimensions */
.container {
  position: relative;
  width: 100%;
  max-width: 1296px;
  padding: 0px 15px;
  margin: 0 auto;
}
